@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root {
  /* ***  BACKGROUNDS *** */
  /* screen background */
  --background: hsl(222, 26%, 31%);
  /* keypad background  */
  --keypad: hsl(223, 31%, 20%);
  /* toggle background  */
  --toggleBackground: hsl(223, 31%, 20%);
  /* display background */
  --display: hsl(224, 36%, 15%);

  /* ***  END OF BACKGROUNDS  *** */

  /* ***  KEYS *** */
  /* key background */
  --key: hsl(225, 21%, 49%);
  --keyShadow: hsl(224, 28%, 35%);
  --outputKey: hsl(30, 25%, 89%);
  --outputKeyShadow: hsl(28, 16%, 65%);
  --toggle: hsl(6, 63%, 50%);
  --toggleShadow: hsl(6, 70%, 34%);
  /* ***  END OF KEYS *** */

  /* ***  TEXT *** */
  /* text */
  --mainText: #fff;
  --secondaryText: hsl(221, 14%, 31%);
  --keypadText: hsl(221, 14%, 31%);
  --delButton: #fff;
  --clearButton: #fff;
  --equalButton: #fff;
  /* ***  END OF TEXT *** */
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
body {
  background: #ddd;
  color: var(--mainText);
  font-size: 32px;
  width: 100vw;
  display: grid;
  /* gap: 10vh; */
  overflow-x: hidden;
}

#main {
  background: var(--background);
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 5vh;

}

.calculator {
  background: var(--background);
  min-height: 100vh;
  width: 100vw;
  padding: 5vh 5vw;

}

#header {
  /* background: #dc143c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .5em;
}

.themes {
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
  border-radius: 20px;
  background-color: var(--toggleBackground);
  position: relative;
}
.themes h2 {
  font-size: .7em;
  margin-right: 1em;
  position: absolute;
  left: -100%;
}
#theme-options-wrapper {
  display: flex;
  justify-content: center; 
  position: relative;
}

.theme-dot {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 50%;
  margin: 4px;
  border: none;
  cursor: pointer;
  transition: .3s ease; 
  position: relative;
}
.theme-dot::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: .2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px #fffa,
              inset -1px -1px 3px #000a;
}
.theme-dot.active.theme-dot::after {
  opacity: 1;
}
.theme-dot span {
  font-size: .7em;
  opacity: .6;
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mainText);
  display: block;
}
.theme-dot.active span {
  opacity: 1;
}


#style-mode.active {
  background-color: hsl(6, 63%, 50%);
  opacity: 1;
}

#light-mode.active {
  background-color: hsl(25, 98%, 40%);
  opacity: 1;
}

#dark-mode.active {
  opacity: 1;
  background-color: hsl(176, 100%, 44%);

}


#display {
  border: none;
  outline: none;
  height: 15vh;
  height: auto;
  margin: 1em 0;
  border-radius: 10px;
  background-color: var(--display);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: .5em;
  padding: 1em .5em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#display .calculator-screen {
  height: 100%;
  width: 100%;
  background-color: transparent;
  text-align: right;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 700;
  color: var(--mainText);
  border: 1px solid yellow;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.output {
  color: var(--mainText);
}


.keyGrid {
  border: none;
  outline: none;
  height: auto;
  width: 100%;
  margin-bottom: 5vh;
  /* height: 60vh; */
  padding: 1em .5em;
  border-radius: 10px;
  background-color: var(--keypad);
  display: grid;
  gap: .5em;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 10vh);
}

button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: var(--outputKey);
  color: var(--keypadText);
  font-size: 1em;
  padding: .5em;
  cursor: pointer;
  overflow: hidden;
  transition: .2s ease;
  position: relative;
}

button::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: inset 0 -5px 2px var(--outputKeyShadow);
}
button:hover {
  opacity: .9;
  transform: scale(.98);
}
button:active {
  transition: .1s;
  transform: scale(.9);
  opacity: .8;
}

.operator {
  color: var(--secondaryText);
  background-color: var(--outputKey);
}
button.equal-sign {
  background-color: var(--toggle);
  color: var(--equalButton);
  grid-column-start: 3;
  grid-column-end: 5;
  position: relative;
  font-size: .5em;
}

button.equal-sign::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: inset 0 -5px 2px var(--toggleShadow);
}
button.clear {
  background-color: var(--key);
  color: var(--clearButton);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: .5em;
  text-transform: uppercase;

}
button.del {
  background-color: var(--key);
  color: var(--delButton);
  font-size: .5em;
  text-transform: uppercase;

}

button.clear::after , button.del::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -5px 2px var(--keyShadow);
}

/* media query */
@media screen and (min-width: 1024px) {
  .calculator {
    padding: 10vh 30vw;
  }

  #display {
    margin: .5em 0;
  }
  #display input {
    padding: 0em .5em;
  }
  .keyGrid {
    height: auto;
    padding: 1em;
  }
  button {
    padding: 0em;
    height: 80%;
  }
}

/* end of media query */