@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ***  BACKGROUNDS *** */
  /* screen background */
  --background: hsl(222, 26%, 31%);
  /* keypad background  */
  --keypad: hsl(223, 31%, 20%);
  /* toggle background  */
  --toggleBackground: hsl(223, 31%, 20%);
  /* display background */
  --display: hsl(224, 36%, 15%);

  /* ***  END OF BACKGROUNDS  *** */

  /* ***  KEYS *** */
  /* key background */
  --key: hsl(225, 21%, 49%);
  --keyShadow: hsl(224, 28%, 35%);
  --outputKey: hsl(30, 25%, 89%);
  --outputKeyShadow: hsl(28, 16%, 65%);
  --toggle: hsl(6, 63%, 50%);
  --toggleShadow: hsl(6, 70%, 34%);
  /* ***  END OF KEYS *** */

  /* ***  TEXT *** */
  /* text */
  --mainText: #fff;
  --secondaryText: hsl(221, 14%, 31%);
  --keypadText: hsl(221, 14%, 31%);
  --delButton: #fff;
  --clearButton: #fff;
  --equalButton: #fff;
  /* ***  END OF TEXT *** */
  
}

html {
  font-family: 'Spartan', sans-serif; 
}

body {
  background: var(--display);
  color: var(--mainText);
  font-size: 32px;
}

#main {
  background: var(--background);
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  padding-top: .5rem;

}

.calculator {
  background: var(--background);
  width: 100%;
  overflow: hidden;
  padding: 5vh 5vw;
}

#header {
  /* background: #dc143c; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .5em;
}



#display {
  background-color: var(--display);
  margin: 1.5rem 0;
  height: 5rem;
  
  display: flex;
  justify-content: right;
  align-items: center;
  
  border-radius: 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#display .calculator-screen {
  background-color: transparent;
  text-align: right;
  padding: 1rem 1.5rem;
  font-size: 1em;
  font-weight: 700;
  color: var(--mainText);
  overflow-x: hidden;
  text-overflow: ellipsis;
  position: relative;
}

#display .calculator-screen span {
  color: yellow;
  position: absolute;
  left: 0;
}
.output {
  color: var(--mainText);
}

.active {
  opacity: .5;
}

.keyGrid {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: var(--keypad);
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

button {
  font-family: 'Spartan', sans-serif; 
  border: none;
  height: 100%;
  width: 100%;
  background-color: var(--outputKey);
  color: var(--keypadText);
  font-size: .8em;
  padding: .5em;
  border-radius: 5px;
  transition: .125s ease;
  position: relative;
}

button::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: inset 0 -5px 2px var(--outputKeyShadow);
}
button:hover {
  opacity: .9;
  transform: scale(.98);
}
button:active {
  transition: .125s;
  transform: scale(.95);
  opacity: .8;
}

.operator {
  color: var(--secondaryText);
  background-color: var(--outputKey);
}
button.equal-sign {
  background-color: var(--toggle);
  color: var(--equalButton);
  grid-column-start: 3;
  grid-column-end: 5;
  position: relative;
  font-size: .5em;
}

button.equal-sign::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: inset 0 -5px 2px var(--toggleShadow);
}
button.clear {
  background-color: var(--key);
  color: var(--clearButton);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: .5em;
  text-transform: uppercase;

}
button.del {
  background-color: var(--key);
  color: var(--delButton);
  font-size: .5em;
  text-transform: uppercase;

}

button.clear::after , button.del::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -5px 2px var(--keyShadow);
}

.attribution {
  font-size: 12px;
  font-size: clamp(.85rem, 1.25vw, 1rem);
  text-align: center;
  line-height: 1.8;
  padding: 1.5rem 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}


/* media query */
@media screen and (min-width: 1024px) {
  .calculator {
    padding: 10vh 10vw;
    width: 50%;
  }

  #display {
    margin: .5em 0;
  }
  #display input {
    padding: 0em .5em;
  }
  .keyGrid {
    padding: 1.5rem;
  }
  button {
    cursor: pointer;
  }
}

/* end of media query */


.themes {
  display: flex;
  align-items: center;
  position: relative;
}
.themes h2 {
  font-size: .7em;
  margin-right: 1rem;
  letter-spacing: 1px;
}
#theme-options-wrapper {
  padding: .25rem;
  border-radius: 20px;
  background-color: var(--toggleBackground);
  display: flex;
  justify-content: center; 
  position: relative;
  gap: .5rem;
}

.theme-dot {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  transition: .25s ease; 
  position: relative;
  cursor: default;
}
.theme-dot::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: .2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px #fff5,
              inset -1px -1px 3px #0005;
}
.theme-dot.active.theme-dot::after {
  opacity: 1;
}
.theme-dot span {
  font-size: .7em;
  opacity: .6;
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mainText);
  display: block;
}
.theme-dot.active span {
  opacity: 1;
}


#style-mode.active {
  background-color: hsl(6, 63%, 50%);
  opacity: 1;
}

#light-mode.active {
  background-color: hsl(25, 98%, 40%);
  opacity: 1;
}

#dark-mode.active {
  opacity: 1;
  background-color: hsl(176, 100%, 44%);

}

.theme-dot:active.theme-dot{
  transform: translateX(.125rem);
}
.theme-dot:active.theme-dot:nth-child(3){
  transform: translateX(-.125rem);
}